@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100%;
}

body {
  @apply text-slate-100 bg-slate-950;
}

a {
  @apply text-primary-400 hover:text-primary-300 transition;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-700 rounded-full;
}
